body {
    margin: 0;
}

#appointment {
    width: calc(100% - 10px);
    margin: 0 auto;
}
.warning{
	width: 25px;
	cursor: pointer;
}

.draggable{
	color: #333;
}
.app-placeholder{
	color: #333;
    opacity: 0.5;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fc-event-head.fc-event-skin {
    visibility: hidden;
    height: 2px;
}
span.appointmentTitle {
    color: #888;
    font-size: 11px;
    text-align: left;
    display: block;
}